* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body {
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.products-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    /* max-width: 600px; */
}

.gridL {
    margin: 0 5px 0 10px;
}

.gridR {
    margin: 0 10px 0 5px;
}

.product {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 100%;
}

.product>img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    max-width: 100%;
}

/* Media query for Mobile screens */

@media (max-width: 875px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .products-grid {
        display: flex;
        width: 50%;
        gap: 10px;
    }
}

/* Media query for tablet screens */

@media (min-width: 875px) {
    .container {
        flex-direction: row;
        justify-content: center;
        padding: 20px;
        max-width: 1200px;
        margin: auto;
    }

    .products-grid {
        display: flex;
        width: 50%;
        gap: 20px;
    }
}


@media (min-width: 1200px){
    .container {
        max-width: 2000px;
    }
}